<!DOCTYPE html>
<html lang="en">
	<head>
	
		<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css?version=7" />
		<link rel="stylesheet" href="/css/style.css?version=7" />

		{% if title %}

			<title>{{title}} | Question Guru</title>

		{% else %}
			
			<title>Question Guru</title>

		{% endif %}

		<meta name="description" value="{{description}}" />
		<meta name="keywords" value="{% if keywords %}, {{keywords}}{% endif %} " />
		<meta name="author" value="{% if author %}{{author}}{% else %}Reflief Life Map{% endif %} " />

		{% block head %}{% endblock %}
		{% block styles %}{% endblock %}
	</head>
	<body class="gradient">

		<div class="body-block">

			<div class="header">

				<div class="container">

					<div class="row">

						<div class="col-md-6 col-md-offset-3">

							<h2 class="title" style="font-size: 16px;">Questions asked and answered from the Universe</h2>

						</div>

					</div>

				</div>

			</div>

			<div id="block-questions-list" class="section-block">

				<div class="container questions-block">

					<div class="row">

						<div class="col-md-8 col-md-offset-2">

							<ul class="questions">

							{% for question_obj in question_objs %}

								<li>
									<a href="javascript:void(0);">

										<div class="qtitle">{{question_obj.message}}</div>
										<div class="author"><i>By </i>{{question_obj.created_by.nickname()}}</div>

										{% if question_obj.answer != None %}

											<br />
											<h5 style="color:#333;margin:0;margin-bottom:5px;">Answer</h5>
										
											<div class="qtitle">{{question_obj.answer}}</div>

										{% endif %}

										{% if question_obj.answer_by != None %}
											
											<div class="author"><i>By </i>{{question_obj.answer_by.nickname()}}</div>

										{% endif %}

									</a>

								</li>

							{% endfor %}
						</ul>

						</div>

					</div>

				</div>

			</div>

			<div class="clouds">
				
			</div>

		</div>

		<script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>

		{% block scripts %}{% endblock %}
	</body>
</html>
